* {
  font-family: 'Open Sans';
}

.main-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80vw;
}

.main,
.declaration {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.main {
  &__body {
    display: flex;
    flex-direction: column;
    margin-top: 80px;

    &__title {
      font-weight: 600;
      font-size: 36px;
      margin-bottom: 20px;
    }

    &__info {
      font-weight: 400;
      font-size: 18px;
    }

    &__btn-group {
      display: flex;
      flex-direction: row;
      margin-top: 30px;

      &__cart {
        background-color: #4776F0;
        color: #fff;
        border: 1px solid #4776F0;

        &:hover {
          background-color: #fff;
          color: #0e52ff;
          border: 1px solid #0e52ff;

          img {
            filter: invert(70%) sepia(99%) saturate(3935%) hue-rotate(228deg) brightness(103%) contrast(102%);
          }
        }
      }

      &__video {
        background-color: #fff;
        color: #000;
        border: 1px solid #DDD;

        &:hover {
          background-color: #fff;
          color: #0e52ff;
          border: 1px solid #0e52ff;

          img {
            filter: invert(16%) sepia(99%) saturate(3935%) hue-rotate(228deg) brightness(103%) contrast(102%);
          }
        }
      }

      button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 20px;
        margin-right: 20px;
        border-radius: 99px;

        img {
          margin-right: 10px;
        }
      }
    }

    &__pointy-line {
      position: absolute;
      top: 400px;
      left: 0;
    }
  }
}

.declaration {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__body {
    &__blot {
      position: absolute;

      img {
        width: 530px;
      }
    }

    &__container {
      position: relative;
      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 13px;
      margin: 20px 0 0 20px;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0px 4px 40px rgba(74, 99, 162, 0.1);

      &__ellipses {
        display: flex;
        justify-content: flex-end;
        height: 18px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-color: #3d6aeb;

        img {
          margin-right: 8px;
        }
      }

      &__title {
        display: flex;
        justify-content: center;
        margin: 10px 0;
      }

      &__content {
        display: flex;
        flex-direction: column;

        &__row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      .blue-row {
        display: flex;
        flex-direction: row;
        background-color: #3d6aeb;
        color: #fff;
        padding: 0 10px;

        span {
          margin-right: 10px;
        }
      }

      .item {
        margin: 10px 5px;
      }
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  margin: 10px 0 30px 0;
}

.nav {
  display: flex;
  flex-direction: row;
  height: 36px;
  align-items: center;
  width: 100%;
  justify-content: space-around;

  &__title {
    font-weight: 600;
    text-decoration: none;
    color: #000;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #4776F0;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }

    &:hover {
      cursor: pointer;

      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.grey-font {
  color: #787775;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}

