<nb-layout>
  <nb-layout-column>
    <div class="main-container">
      <div class="main">
        <div class="header">
          <div class="pointer">
            <img src="/assets/images/img-logo.svg" alt="logo" />
          </div>

          <div class="nav">
            <a class="nav__title">Описание</a>
            <a class="nav__title">Видео-инструкции</a>
            <a class="nav__title">Загрузки</a>
          </div>
        </div>

        <div class="main__body">
          <div class="main__body__title">
            Программа D-Sector
          </div>

          <div class="main__body__info grey-font">
            Лучшая программа для заполнения таможенных деклараций в Казахстане. Подходит для Таможенных представителей и  Декларантов, осуществляющих самостоятельное декларирование грузов
          </div>

          <div class="main__body__btn-group">
            <button type="button" class="main__body__btn-group__cart pointer">
              <img src="/assets/icons/icon-cart.svg" alt="cart" />Купить лицензию
            </button>
            <button type="button" class="main__body__btn-group__video pointer" (click)="watchVideo()">
              <img src="/assets/icons/icon-play.svg" alt="play" />Смотреть видео
            </button>
          </div>

          <div class="main__body__pointy-line">
            <img src="/assets/images/img-pointy-line.svg" alt="pointy-line" />
          </div>
        </div>
      </div>

      <div class="declaration">
        <div class="header">
          <div class="nav">
            <a class="nav__title">Обучение</a>
            <a class="nav__title">Цены</a>
            <a class="nav__title">Поддержка</a>
            <a class="nav__title">Личный кабинет</a>
            <a class="nav__title">Войти</a>
          </div>
        </div>

        <div class="declaration__body">
          <div class="declaration__body__blot">
            <img src="/assets/images/img-blot.svg" alt="blot" />
          </div>

          <div class="declaration__body__container">
            <div class="declaration__body__container__ellipses">
              <img src="/assets/icons/icon-ellipsis.svg" alt="ellipsis" />
              <img src="/assets/icons/icon-ellipsis.svg" alt="ellipsis" />
              <img src="/assets/icons/icon-ellipsis.svg" alt="ellipsis" />
            </div>

            <div class="declaration__body__container__title item">
              Декларация на товары
            </div>

            <div class="declaration__body__container__content">
              <div class="declaration__body__container__content__row item">
                <span>Гр.31.1 Описание и характеристики товаров</span>
                <span>Регистрационный номер ДТ</span>
              </div>

              <div class="declaration__body__container__content__row item">
                <span>Наименование товаров:</span>
              </div>

              <div class="declaration__body__container__content__row grey-font item">
                <span>Игрушечная машина (Игрушки пластмассовые для детских развлечений)</span>
                <span>55308 261217 0009068</span>
              </div>

              <div class="declaration__body__container__content__row">
                <div class="blue-row">
                  <span>Кол-во: 1200</span>
                  <span>Код-ед. изм. 796 шт</span>
                </div>

                <div class="blue-row">
                  <span>33. Код товара</span>
                  <span>9503009500</span>
                </div>
              </div>

              <div class="item">
                <span>Исходная цена товара: </span>
                <span class="grey-font">242 USD</span>
              </div>

              <div class="item">
                <span>Производитель: </span>
                <span class="grey-font">Wuxi Hualing Filter Equipment</span>
              </div>

              <div  class="item">
                <span>Артикул: </span>
                <span class="grey-font">12332564</span>
              </div>

              <div class="item">
                <span>47. Таможенные платежи </span>
                <span class="grey-font">5 139 360, 96</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
